@import "tailwindcss";
@import "@cladd-ui/react/css";
@import "./code.css";
@import "./prose.css";

@theme {
  --font-sans: "Geist", ui-sans-serif, system-ui, -apple-system, sans-serif;
  --font-mono:
    "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    monospace;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

html,
body {
  font-family: var(--font-sans);
  @apply bg-cladd-bg text-cladd-fg;
  color-scheme: dark;
}

.no-transition,
.no-transition * {
  transition: none !important;
  transition-duration: 0s !important;
}

code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
}

.no-scrollbar {
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
  opacity: 0;
}
