.prose {
  @apply leading-relaxed;
  :is(h1, h2, h3, h4):not(.not-prose *) {
    @apply font-semibold tracking-normal light:text-black;
  }
  h1:not(.not-prose *) {
    @apply mt-0 mb-[0.5em] text-4xl leading-[1.2] tracking-tight text-balance text-white sm:text-5xl;
  }
  h2:not(.not-prose *) {
    @apply mt-[1.8em] mb-[0.6em] text-3xl leading-[1.125] tracking-tight text-white sm:text-4xl;
  }
  h3:not(.not-prose *) {
    @apply mt-[1.4em] mb-[0.7em] text-2xl leading-tight sm:text-3xl;
  }
  h4:not(.not-prose *) {
    @apply mt-[1.6em] mb-[0.8em] text-xl leading-tight sm:text-2xl;
  }
  em:not(.not-prose *) {
    font-variation-settings: "slnt" -10;
  }
  :is(h1, h2, h3, h4) + *:not(.not-prose *) {
    @apply mt-0;
  }

  :is(h1, h2, h3, h4):not(.not-prose *) {
    @apply first:mt-0 last:mb-0;
  }

  :is(p, ul, ol, pre, table, blockquote):not(.not-prose *) {
    @apply my-4 first:mt-0 last:mb-0;
  }
  hr:not(.not-prose *) {
    @apply my-8 first:mt-0 last:mb-0;
  }
  li > :is(ul, ol):not(.not-prose *) {
    @apply last:mb-6;
  }
  li > img:not(.not-prose *) {
    @apply my-2;
  }

  :is(img, video, iframe, .img-svg):not(.not-prose *) {
    @apply rounded-2xl border border-cladd-outline;
  }
  iframe:not(.not-prose *) {
    @apply block aspect-video w-full;
  }

  hr:not(.not-prose *) {
    @apply border-cladd-outline;
  }

  :is(ul, ol):not(.not-prose *) {
    @apply list-outside pl-6;
  }
  ul:not(.not-prose *) {
    @apply list-disc;
  }
  ol:not(.not-prose *) {
    @apply list-decimal;
  }

  li:not(.not-prose *) {
    @apply my-2 pl-2 first:mt-0 last:mb-0;
    &::marker {
      font-variant-numeric: normal;
    }
  }

  strong:not(.not-prose *) {
    @apply font-bold;
  }
  mark:not(.not-prose *) {
    @apply bg-cladd-primary;
  }
  blockquote:not(.not-prose *) {
    @apply border-l-4 border-cladd-outline py-4 pl-4 italic;
    font-variation-settings: "slnt" -10;
  }
  blockquote > *:first-child:not(.not-prose *) {
    @apply mt-0;
  }
  blockquote > *:last-child:not(.not-prose *) {
    @apply mb-0;
  }
  a:not(.not-prose *) {
    @apply cursor-pointer;
  }
  a.text-cladd-primary:not(.not-prose *) {
    @apply hover:underline;
  }
  a:not(.text-cladd-primary):not(.not-prose *) {
    @apply underline hover:no-underline;
  }
  a:not(.text-cladd-primary):not(.not-prose *):not(:has(code)) {
    @apply opacity-75;
  }
  table:not(.props-table):not(.not-prose *) {
    @apply w-full table-fixed border border-cladd-outline text-sm;
    p {
      @apply m-0;
    }

    th,
    td {
      @apply relative min-w-16 p-2 text-left;
    }
    th {
      @apply font-bold;
    }
    th {
      @apply bg-cladd-surface;
    }
    tr {
      @apply divide-x divide-cladd-outline;
    }
    tr + tr {
      @apply border-t border-cladd-outline;
    }
  }

  code:not(.not-prose *) {
    @apply rounded bg-white/7.5 px-1.5 py-0.5 text-[0.875em] text-cladd-fg opacity-90;
  }
  /*code:not(.not-prose *)::before,
  code:not(.not-prose *)::after {
    content: "`";
    @apply font-mono text-cladd-fg-soft;
  }*/
  pre:not(.not-prose *) {
    @apply bg-transparent px-4 pt-8 pb-8 text-sm;
  }
  :is(h1, h2, h3, h4):not(.not-prose *) {
    code {
      font-size: 1em;
    }
  }

  pre:not(.not-prose *) code::before,
  pre:not(.not-prose *) code::after {
    content: "";
    display: none;
  }
}
